.flex-container-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  
  .no-margin{
      margin: 0%;
  }
  
  .header-footer-div{
    background-color: #2c3e50;
    border-radius: 15px;
    padding: 1% 2%;
    color: white;
    margin: 1% 0%;
  }
  
  .header-nav{
    gap: 5px;
    flex-wrap: nowrap;
    flex-basis: 20%;
  }
  
  .nav-link{
      color: white;
      white-space: nowrap;
      text-decoration: none;
  }
  
  .gallery-title{
    margin: 1% 0%;
    text-align: center;
  }
  
  .gallery-div{
    display: flex;
    gap: 2%;
    padding: 0% 1%;
    max-width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content:center;
  }
  
  .images{
    padding: 1% 0%;
    width:300;
  }
  
  .div-content{
    background-color: #f8f9fa;
    border-radius: 15px;
    border: solid 1px #5d6d7e;
    padding: 1% 2%;
    flex-basis: 45%;
    align-self:stretch;
    margin: 1% 0%;
  }
  
  .form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0%;
  }
  
  .input{
    margin: 1% 0%;
  }
  
  .button-send {
    background: #4ecdc4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 1% 0% 0% 0%;
  }
  
  .button-send:hover {
    background: #4ecdc4;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  .nav-mobile{
    gap: 5px;
    flex-wrap: nowrap;
    flex-basis: 20%;
  }
  .menu-icon {
    display: none;
    font-size: 2em;
    cursor: pointer;
    color: white;
  }
  
  .mobile-menu {
    display: flex;
    background-color: #2c3e50;
    padding: 1% 2%;
    border-radius: 15px;
    list-style-type: none;
    margin: 0;
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  
  .show {
      display: block;
  }
  
  
  @media (orientation: portrait){
      .flex-container-between{
        flex-direction: column;
      }
  
      .header-mobile{
        flex-direction: row;
      }
  
      .nav-mobile{
        flex-basis: 0%;
      }
  
      .menu-icon {
          display: inline-block;
      }
  
      .mobile-menu {
          display: none;
      }
  
      .show {
          display: flex;
      }
  }