* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #333;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

.horizontal-container {
    display: flex;
    flex-direction: row; 
    gap: 10px;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
}

li {
  margin-right: 20px;
}

li:last-child {
  margin-right: 0;
}

header, footer {
    background-color: rgb(44, 61, 80);
    color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 18px;
}

footer {
    text-align: center;
}