@use '@/app/global-styles.scss' as *;

.btn {
	border: none;
	border-radius: calc(infinity * 1px);
	background: transparent;
	cursor: pointer;
	padding: 0.75rem 1.875rem;
	text-align: center;
	font-family: $font-open-sans;
}

.primary {
	background: $gradient-coral-mint;
	color: white;
	font-weight: $semi-bold;
	transition: 0.2s ease;

	&:hover {
		box-shadow: 0 8px 24px 0 rgba(255, 107, 107, 0.4);
		transform: translateY(-2px);
	}

	&:active {
		transform: translateY(2px);
		box-shadow: 0 8px 24px 0 rgba(255, 107, 107, 0.6);
		transition: 0.06s ease-out;
	}
}

.secondary {
	border: 2px solid $primary-400;
	transition: 0.2s ease;

	&:hover {
		background: $primary-800;
		color: white;
	}

	&:active {
		background: $primary-900;
		transition: 0s;
	}
}
